<!DOCTYPE html>
<html>
<head>
    {include file="epiiadmin@common/meta" /}
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- /.navbar -->
    {:widget('epiiadmin/epiiadmin/shownav')}
    <!-- Main Sidebar Container -->

    {:widget('epiiadmin/epiiadmin/showleft')}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper tab-content"  style="background-color: transparent" id="tab_content"></div>


    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
{include file="epiiadmin@common/script" /}
</body>
</html>
