.epii .form-group {

    clear: both;

    display: flex;
}

.epii .form-group label {
    margin: 5px;
    vertical-align: middle;
}

.epii .form-group label {
    float: left;

    text-align: right;
    width: auto;min-width: 20%
}

.epii .form-group input, .epii .form-group select,.epii .form-group textarea,.epii .form-group .epii-filed {
    float: left;
    width: 70%;
    text-align: left;
}

.epii .form-group input.error, .epii  .form-group select.error,.epii  .form-group textarea.error,.epii  .form-group .epii-filed  .error {
    width: 40%;

}

.form-footer {
    width: 90%;
    text-align: right;
}

.epii  .form-group label.error {
    float: left;
    width: 30%;

    display: inline;
    text-align: left;

}
.form-group  label.error{
    color: red;
}