
<aside class="main-sidebar sidebar-{$Think.config.app_left_theme}-{$Think.config.app_theme} elevation-4">
    <!-- Brand Logo -->
    <a href="{$site_url}" class="brand-link bg-{$Think.config.app_theme}">
        <img src="{$site_logo}"
             alt="{$site_name}"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">{$site_name}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{$user_avatar}" class="img-circle elevation-2" alt="{$user_name}">
            </div>
            <div class="info">
                <a href="#" class="d-block">{$user_name}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                {$menulist|raw}

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
