
<section class="content" style="padding: 10px;min-height: 1000px" >
    <div class="row">

        <div class="col-12">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">  表单</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form role="form"  >
                        <div class="form-group">
                            <label >名称：</label>
                            <input type="text" class="form-control" name="name1"   placeholder="请输入名称" required>
                        </div>
                        <div class="row">
                            <div class="col-6" >
                                <div class="form-group"  >
                                    <label >区域选择：</label>
                                    <input type="text" class="form-control" name="name4"

                                           style="width: 350px;"
                                           data-city-picker="1"
                                           data-code-input="name4_code"
                                           data-code-last-input="name4_code_last"
                                           data-code-province-input="name4_code_province"
                                           data-code-city-input="name4_code_city"
                                           data-code-district-input="name4_code_district"
                                           placeholder="请输入名称">

                                </div>
                            </div>
                            <div  class="col-6"  >
                                <div class="form-group"  >
                                    <label >区域选择的值：</label><br>

                                    data-code-input：<input type="text" name="name4_code" style="width: 300px"><br>
                                    data-code-last-input: <input type="text" name="name4_code_last"><br>

                                    data-code-province-input: <input type="text" name="name4_code_province"><br>
                                    data-code-city-input: <input type="text" name="name4_code_city"><br>
                                    data-code-district-input: <input type="text" name="name4_code_district">
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">提交</button>
                            <button type="reset" class="btn btn-default">重置</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
